<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td, th {
           border: 1px solid black;
           background: #4E9CAF;
        }

        a.button {
           display: block;
           width: 115px;
           height: 25px;
           background: #4E9CAF;
           padding: 10px;
           text-align: center;
           border-radius: 5px;
           color: white;
           font-weight: bold;
           margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>Library</h1>

<a th:href="@{/authors}" href="authors.html" class="button" >Authors List</a>
<a th:href="@{/genres}" href="genres.html" class="button" >Genres List</a>
<a th:href="@{/book/add}" href="newbook.html" class="button" >Add new book</a>
<a th:href="@{/book/}" href="findbook.html" class="button" >Search a book</a>

<h1>Books:</h1>
<table class="books">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Name</th>
        <th>Author</th>
        <th>Publishing year</th>
        <th>Genre</th>
        <th>Comments</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.isbn}">1</td>
        <td th:text="${book.name}">War and Peace</td>
        <td th:text="${book.author.fullName()}">Lef Tolstoy</td>
        <td th:text="${book.publishingYear}">1991</td>
        <td th:text="${book.genre.genreName}">DRAMA</td>
        <td>
            <a th:href="@{/comment/book(id=${book.isbn})}" href="comments.html">Click here</a>
        </td>
        <td>
            <a th:href="@{/book/edit(id=${book.isbn})}" href="edit.html">Edit</a>
        </td>
        <td>
            <a th:href="@{/book/delete/(id=${book.isbn})}" href="books.html">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
