<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete a book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

         a.button{
           display: block;
           width: 115px;
           height: 25px;
           background: #4E9CAF;
           padding: 10px;
           text-align: center;
           border-radius: 5px;
           color: white;
           font-weight: bold;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<a th:href="@{/books}" href="books.html" class="button" >Go to Books List</a>


<form id="deleteBookForm">
    <fieldset>
        <legend>Delete a book </legend>
        ISBN: <input type="text" id="isbn"><br>
    </fieldset>

    <div class="row">
        <button type="button" onclick="deleteBook()">Delete</button>
    </div>

    <table class="books">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
      function deleteBook() {
        var isbn = document.forms["deleteBookForm"]["isbn"].value;
        $.ajax({
            url: '/api/book/' + isbn,
            type: 'DELETE',
            success: function (result) {
                alert("Book with isbn '" + isbn + "' was deleted")
                window.location.href = "/books";
            },
            error: function (jqXHR, error) {
                alert(jqXHR.responseText)
            }
        });
    }
</script>
</form>
</body>
</html>
